

.galleryActivities {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;

}

.galleryItem {
	width: 33.33%;
	position: relative;
		
		&:hover .overlay {
			opacity: 1;
		}
}

.galleryActivities img {
	display: block;
	width: 100%;
}

.overlay {
	position: absolute;
	opacity: 0;
	height: 90%;
	width: 90%;
	top: 5%;
	left: 5%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(151,221,202, 0.75);

	h4 {
		color: $gray;
	}
}

.wikiContainer {
	height: 300px;
	padding: 10px;
	overflow: scroll;
	max-width: 600px;
	margin-left: auto;
}

.userTip {
	margin: 20px 0;
}

.reset {
	border-bottom: 5px solid $paleBlue;
	background-color: white;
	color: $darkGreen;
	margin: 60px auto;
	text-align: center;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 20%;
	padding: 20px;
	transition: all .3s ease-in-out;
	&:hover {
		transform: translateY(-5px);
	}
}