article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, h2, h3, h4 {
  font-family: "Arvo", serif; }

a {
  color: #97DDCA;
  text-decoration: none; }
  a:visited {
    color: #8A792E; }

body {
  font-family: "Quicksand", sans-serif;
  background-color: #4C4C4C; }

header {
  border-bottom: 1px solid #97DDCA;
  margin: 0 30px; }

.wouldYouRather {
  height: 100vh; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #97DDCA;
  margin: 0 30px; }
  form h2 {
    width: 20%;
    font-size: 4em;
    margin: auto;
    text-align: center; }

h1, h2 {
  color: #97DDCA;
  font-size: 3em;
  margin: 30px 0px;
  text-transform: uppercase;
  letter-spacing: 2px; }

h4 {
  letter-spacing: 3px; }

fieldset {
  border: none;
  margin: 30px;
  width: 40%;
  height: 200px;
  padding: 0 30px;
  background-color: white;
  text-align: center;
  border-bottom: 10px solid #97DDCA;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }
  fieldset label {
    color: #57531D;
    line-height: 25px;
    cursor: pointer; }
  fieldset:hover {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  fieldset input {
    display: none; }

.centeringDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%; }
  .centeringDiv label {
    margin: auto; }

main h3 {
  color: #57531D;
  background-color: white;
  margin: 0px;
  padding: 20px; }

main .mainResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4C4C4C;
  color: white; }
  main .mainResult .leftInfo {
    width: 50%;
    padding: 30px;
    text-align: right;
    margin: auto; }
    main .mainResult .leftInfo h1 {
      margin: 0px; }
  main .mainResult .resultImage {
    width: 50%;
    height: 100%; }
    main .mainResult .resultImage img {
      width: 100%;
      display: block; }

.galleryActivities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.galleryItem {
  width: 33.33%;
  position: relative; }
  .galleryItem:hover .overlay {
    opacity: 1; }

.galleryActivities img {
  display: block;
  width: 100%; }

.overlay {
  position: absolute;
  opacity: 0;
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(151, 221, 202, 0.75); }
  .overlay h4 {
    color: #4C4C4C; }

.wikiContainer {
  height: 300px;
  padding: 10px;
  overflow: scroll;
  max-width: 600px;
  margin-left: auto; }

.userTip {
  margin: 20px 0; }

.reset {
  border: 5px solid #97DDCA;
  background-color: white;
  color: #57531D;
  margin: 60px auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  padding: 20px; }
